/*
Name: Douglas Richardson
Date: 11/1/18
Desc: CSCI 3000 DA C0. Final Project. Home page css
*/
* {
    box-sizing: border-box;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}	
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
html {
    font-family: "Arial", sans-serif;
}
.header {
    background-color: #E0E0E0;
    padding: 15px;
	border: thin solid black;
	height:auto;
}
h1#title{
	position:  relative;
	display:inline-block;
}
div.headerButtons{
	float:right;
	padding: 1em;
	display: flex;
	
}
button.headButtons{
	display:inline-block;
	width: 7em;  
	height: 3em;
	padding: 10px;
	margin-left: 1em;
    background-color: dimgrey;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border: thin solid black;
	font-size: 1em;
	cursor: pointer;
}
button.headButtons:hover{
	background-color: #B3B3B3;
}
img.shoppingCart{
	max-width: 100%;
    max-height: 100%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: inline-block;
    position: relative;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.menu{
	height:350px;
	border: thin solid black;
	background-color:#b30000;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
button.menuButton{
	padding: 10px;
    margin-bottom: 7px;
    background-color: #585858;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border: thin solid black;
	width: 100%;
	font-size: 20px;
	cursor: pointer;
}
button.menuButton:hover {
    background-color: #B3B3B3;
	border: thin solid white;
}
/*Selected button*/
button.menuButtonSelected{
	background-color: #B3B3B3;
	border: thin solid white;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
	.menu{
		height: auto;
		background-color: green;
	}
	.center{
		height: auto;
	}
	.main_innerDiv{
		height: auto;
	}
	.header{
		height:auto;
		float: left;
		width: 100%;
	}
	div.headerButtons{
		display: flex;
		width: 100%;
		background-color: #E0E0E0;
		border: thin solid black;
		height: auto;
		margin: 0 auto;
	}
	button.headButtons{
		display:inline-block;
		width: 33%;  
		height: 3em;
		padding: 10px;
		background-color: dimgrey;
		color: #ffffff;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		border: thin solid black;
		font-size: 1em;
	}
	
} 
 .center{
	border: thin solid black;
	background-color:#E0E0E0;
	padding: 15px;
	height:350px;
 }

 .footer{
	border: thin solid black;
	background-color:#E0E0E0;
	color:white;
	padding: 15px;
	height:100px;
 }
 