/*
Name: Douglas Richardson
Date: 11/1/18
Desc: CSCI 3000 DA C0. Final Project. Css
*/
* {
    box-sizing: border-box;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}	
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
html, body {
    font-family: "Arial", sans-serif;
	height: 100vh;
}
.header {
    background-color: #E0E0E0;
    padding: 15px;
	border: thin solid black;
	height:auto;
}
h1#title{
	position:  relative;
	display:inline-block;
}
div.headerButtons{
	float:right;
	padding: 1em;
	display: flex;
}
p.addedDrinks{
	font-size:1.5em;
	font-weight: bold;
	color: red;
	display:inline;
}
p.addedDrinkssmall{
	font-size:1em;
	font-weight: bold;
	color: black;
	display:inline;
}
input.drinkButton{
	display:inline;
	width: 150px;  
	height: 50px;
	padding: 10px;
	position:relative;
    background-color: dimgrey;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border: thin solid black;
	font-size: 1em;
	cursor: pointer;
}
input.drinkButton:hover{
	background-color: #B3B3B3;
}
input.headButtons{
	display:inline-block;
	width: 7em;  
	height: 3em;
	padding: 10px;
	margin-left: 1em;
    background-color: dimgrey;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border: thin solid black;
	font-size: 1em;
	cursor: pointer;
}
input.headButtons:hover{
	background-color: #B3B3B3;
}
.shoppingCart{
	background-image:url("./images/shoppingcart.png");
	background-repeat:no-repeat;
	background-size: 50px 100%;
	background-position: center; 
}

.Drink{
	margin:0;
	padding:0;
	line-height:15px;
	display:inline;
}
div.Drink{
	padding:15px;
	border: thin solid black;
}
span.drinkAmount{
	border:thin solid black;
	background-color:white;
	padding-left:7px;
	padding-right:7px;
}
.menu{
	height:70vh;
	position:relative;
	border: thin solid black;
	background-color:#b30000;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
button.menuButton{
	padding: 10px;
    margin-bottom: 7px;
    background-color: #585858;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border: thin solid black;
	width: 100%;
	font-size: 20px;
	cursor: pointer;
}
button.menuButton:hover {
    background-color: #B3B3B3;
	border: thin solid white;
}
/*Selected button*/
button.menuButtonSelected{
	background-color: #B3B3B3;
	border: thin solid white;
}
input.menuButtonSelected{
	background-color: #B3B3B3;
	border: thin solid white;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
	.menu{
		height: auto;
		background-color: green;
	}
	.center{
		height: auto;
	}
	.main_innerDiv{
		height: auto;
	}
	.header{
		height:auto;
		float: left;
		width: 100%;
	}
	div.headerButtons{
		display: inline-block;
		width: 100%;
		position:relative;
		background-color: #E0E0E0;
		border: thin solid black;
		height: auto;
		margin: 0 auto;
		line-height:4em;
	}
	button.headButtons{
		display:inline-block;
		width: 33%;  
		height: 3em;
		padding: 10px;
		background-color: dimgrey;
		color: #ffffff;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		border: thin solid black;
		font-size: 1em;
	}
	
} 
 .center{
	border: thin solid black;
	background-color:#E0E0E0;
	padding: 15px;
	height:70vh;
 }

 .footer{
	border: thin solid black;
	background-color:#E0E0E0;
	padding: 15px;
	height:10vh;
 }
 .footer::after{
	content: "Our Final Project: Alex Minaya, Douglas Richardson, Satpal Sagoo. CSCI 3000. 12:30pm";
 }